<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="FACTORConnectionString" connectionString="Data Source=DIM-2012SRV2\CORP_QA;Initial Catalog=BF_FACTOR;Persist Security Info=True;User ID=sa;Password=sqlcorp1;connection reset=false; connection lifetime=0; min pool size=1; max pool size=5000;"
        providerName="System.Data.SqlClient" />
    <add name="SEGURIDADConnectionString" connectionString="Data Source=DIM-2012SRV2\CORP_QA;Initial Catalog=BF_SEGURIDAD;Persist Security Info=True;User ID=sa;Password=sqlcorp1;connection reset=false; connection lifetime=0; min pool size=1; max pool size=5000;"
        providerName="System.Data.SqlClient" />
    <add name="CapaDatos.My.MySettings.FACTORConnectionString3" connectionString="Data Source=DIM-2012SRV2\CORP_QA;Initial Catalog=BF_FACTOR;Persist Security Info=True;User ID=sa;Password=sqlcorp1;Min Pool Size=1;Max Pool Size=5000;Connection Reset=False;Load Balance Timeout=0"
        providerName="System.Data.SqlClient" />
    <add name="CapaDatos.My.MySettings.BF_FACTORConnectionString"
        connectionString="Data Source=DIM-2012SRV2\CORP_QA;Initial Catalog=BF_FACTOR;Persist Security Info=True;User ID=sa;Password=sqlcorp1;Min Pool Size=1;Max Pool Size=5000;Connection Reset=False;Load Balance Timeout=0"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
